#market-view {
  top: 0;
  z-index: 6;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background: white;
  position: absolute;

  nav {
    height: 25px;
    padding: 0 20px;
    margin-bottom: 5px;
    .back-button {
      color: #ff5a5f;
      cursor: pointer;
      line-height: 1.5rem;
      span {
        font-size: 23px;
        margin-right: 2px;
        font-weight: lighter;
        display: inline-block;
      }
    }
  }

  .summary {
    color: #82888a;
    padding: 0 20px 12px 20px;
    border-bottom: 1px solid #dce0e0;
    .title {
      color: #565a5c;
      margin: 0;
    }
  }

  .info {
    margin-bottom: 25px;
    background-color: #f5f5f5;
    padding: 12px 20px;

    h6 {
      color: #565a5c;
      margin-bottom: 0;
      font-weight: bold;
    }

    .info-text {
      font-size: 14px;
      line-height: 20px;
    }

    .gray-box {
      padding: 20px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 35px;
      background-color: #edefed;
      border: 1px solid #dce0e0;
    }
  }
}