<div class="row">
  <nav>
    <span class="back-button"> <span><</span> Back</span>
  </nav>
</div>

<div class="row info">
  <div class="medium-4 columns">
    <div class="range-slider" data-slider data-options="start: 0; end: 6;">
      <span class="range-slider-handle" role="slider" tabindex="0"></span>
      <span class="range-slider-active-segment"></span>
      <input type="hidden">
    </div>
    <div class="small-2 medium-1 columns">
      <span id="daysopen"></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <select id="cd-dropdown" class="cd-select">
      <option value="-1" selected>Choose borough</option>
      <option value="0" class="icon-camera">Manhattan</option>
      <option value="1" class="icon-diamond">Brooklyn</option>
      <option value="2" class="icon-rocket">Queens</option>
      <option value="3" class="icon-star">Bronx</option>
      <option value="4" class="icon-clock">Staten Island</option>
    </select>
  </div>
</div>