<div class="row">
  <nav>
    <span class="back-button"> <span><</span> Back</span>
  </nav>
</div>

<div class="row info">
  <div class="range-slider" data-slider data-options="start: 0; end: 6;">
    <span class="range-slider-handle" role="slider" tabindex="0"></span>
    <span class="range-slider-active-segment"></span>
    <input type="hidden">
  </div>
  <div class="columns">
    <span id="daysopen"></span>
  </div>
</div>
<div class="row">
  <div class="column">
    <select name="products">
      <option value="-1" selected>Choose product</option>
      <option value="0" class="icon-camera">Baked Goods</option>
      <option value="1" class="icon-diamond">Beans</option>
      <option value="2" class="icon-rocket">Beef</option>
      <option value="3" class="icon-star">Cheese</option>
      <option value="5" class="icon-clock">Christmas Trees/Wreaths</option>
      <option value="6" class="icon-clock">Eggs</option>
      <option value="7" class="icon-clock">Flowers</option>
      <option value="8" class="icon-clock">Fruit Orchard</option>
      <option value="9" class="icon-clock">Goat</option>
      <option value="10" class="icon-clock">Grains</option>
      <option value="11" class="icon-clock">Grapes</option>
      <option value="12" class="icon-clock">Hard Cider</option>
      <option value="13" class="icon-clock">Honey</option>
      <option value="14" class="icon-clock">Lamb</option>
      <option value="15" class="icon-clock">Maple Syrup</option>
      <option value="16" class="icon-clock">Milk</option>
      <option value="17" class="icon-clock">Mushrooms</option>
      <option value="18" class="icon-clock">Pickles</option>
      <option value="19" class="icon-clock">Plants</option>
      <option value="20" class="icon-clock">Poultry</option>
      <option value="21" class="icon-clock">Pork</option>
      <option value="22" class="icon-clock">Preserves</option>
      <option value="23" class="icon-clock">Seafood</option>
      <option value="24" class="icon-clock">Vegetables</option>
      <option value="25" class="icon-clock">Wine</option>
      <option value="26" class="icon-clock">Yarn</option>
      <option value="27" class="icon-clock">Yogurt</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="column">
    <select id="cd-dropdown" class="cd-select" name="borough">
      <option value="-1" selected>Choose borough</option>
      <option value="0" class="icon-camera">Manhattan</option>
      <option value="1" class="icon-diamond">Brooklyn</option>
      <option value="2" class="icon-rocket">Queens</option>
      <option value="3" class="icon-star">Bronx</option>
      <option value="4" class="icon-clock">Staten Island</option>
    </select>
  </div>
</div>
