<div class="row">
  <nav>
    <span class="back-button"> <span><</span> Back</span>
  </nav>
</div>
<div class="row summary">
  <h3 class="title"><%= market.name %></h3>
  <span><%= market.borough %>, <%= market.street %></span>
</div>
<div class="row info">
  <div class="medium-4 columns">
    <h6>Time open:</h6>
    <span class="info-text"><%= market.timesopen %></span>
    <h6>Opened on:</h6>
    <span class="info-text"><%= market.daysopen %></span>
  </div>
  <div class="medium-4 columns">
    <%if (market.yearround !== '0') { %>
      <div class="info-text">The market is open year round</div>
    <% } else { %>
      <h6>Open date:</h6>
      <span class="info-text"><%= market.dateopen %></span>
      <h6>Close date:</h6>
      <span class="info-text"><%= market.dateclose %></span>
     <% } %>
  </div>
  <div class="medium-4 columns">
    <h6>Location</h6>
    <span class="info-text"><%= market.description.split('[map]')[0] %></span>
  </div>
</div>


<p>Ebt: <%= market.ebt %></p>
<p>Battery: <%= market.battery %></p>
<p>Compost: <%= market.compost %></p>
<p>Textile: <%= market.textile %></p>

<ul>
  <% _.each(market.products, function(product){ %>
    <li><%= product %></li>
  <% }) %>
</ul>